@use '@/scss/variables' as v;
@use '@/scss/mixins' as m;

@use './button-mixins' as bm;

%button-large {
  width: 100%;
  padding: 0.875rem; /* 14px */
  @include m.text(v.$common-font-size, v.$common-line-height, 700);
  text-transform: uppercase;
  border-radius: v.$common-border-radius;
}

%button-small {
  min-width: 90px;
  padding: 0.313rem; /* 5px */
  @include m.text(v.$common-font-size, v.$common-line-height);
  text-transform: capitalize;
  border-radius: v.$small-border-radius;
}

%button-primary-styles {
  @include bm.common-button-style(
    v.$common-border-radius,
    v.$inverted-text-color,
    v.$primary-color,
    v.$tertiary-color
  );
}

%button-as-link {
  @include m.text(v.$common-font-size, v.$common-line-height);
  text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;

  &[disabled] {
    cursor: not-allowed;
  }

  @include m.active {
    transform: scale(0.9);
  }

  &--large-primary {
    @extend %button-large;
    @extend %button-primary-styles;
  }

  &--small-primary {
    @extend %button-small;
    @extend %button-primary-styles;
  }

  &--link-primary {
    @extend %button-as-link;
    @include bm.underline-button-style(v.$primary-color);
  }

  &--link-warning {
    @extend %button-as-link;
    @include bm.underline-button-style(v.$primary-warning-color);
  }

  &--as-icon {
    @include bm.scale-button-style();
  }
}
