@mixin text($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

$tablet: 768;
$desktop: 1024;

@mixin mobile-only {
  @media only screen and (max-width: ($tablet - 1) * 1px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:not([disabled]):hover {
      @content;
    }
  }
}

@mixin focus {
  &:not([disabled]):focus {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}
