$body-background: #e5e8ed;
$common-background: #fff;

$primary-text-color: #000;
$secondary-text-color: #868a8d;
$tertiary-text-color: #212229;
$inverted-text-color: #fff;

$primary-color: #1493fe;
$secondary-color: #0a508b;
$tertiary-color: #c2cbd1;

$additional-color-1: #e6ecef;
$additional-color-2: #ebebeb;
$additional-color-3: #6f7b8d;

$primary-warning-color: #b0263d;
$secondary-warning-color: #eb5e58;

$common-border-radius: 4px;
$small-border-radius: 2px;

$common-font-size: 0.75rem; /* 12px */
$smaller-font-size: 0.625rem; /* 10px */
$common-line-height: 0.875rem;

$primary-box-shadow: 0px 4px 4px 0px #00000026;
$secondary-box-shadow: 0px 2px 8px 0px #00000014;
